main {
  & .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
   img {
    width: 100%;
    height: auto;
  }  
}

@media (width: 80rem) {

  :root { 
    --padding-main-footer: 2rem;

  }

   main {
    & .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      padding: 1.5rem;
    }

    & img {
      width: 100%;
      height: auto;

    }
  }


}